@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.timerInterval {
  margin-bottom: 1100px;
}

body {
  background-color: #e5e3e3;
}

.navbar {
  background-color: white;
}

nav {
  background-color: #ffffff;
  padding: 20px;
  height: 70px;
  width: 100%;
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: 500;

}

nav a {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
  justify-self: end;
}

nav a:hover {
  color: #F8A21B;
  border-bottom: 2px solid #F8A21B;
}

.logo {
  background-color: #fbfbfb;
}

.logo img {

  margin-left: 10px;
}

.Banner img {
  width: 80%;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: 10%;
}

.middleSide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSide {
  border: 2px solid rgb(83, 83, 83);
  height: 40px;
  margin: auto 0;
  border-radius: 5px;
  margin-right: 20px;
}

.rightSide input {
  padding: 7px;
  width: 300px;
  font-style: oblique;
}

.rightSide i {
  margin-right: 5px;
  color: rgb(83, 83, 83);
  ;
}

.rightSide:hover {
  color: #F8A21B;
  border: 2px solid #F8A21B;
  outline: none;
}

.rightSide input:hover {
  color: #F8A21B;
  outline: none;
}


.rightSide input:focus {
  border: none;
  outline: none;
  color: #F8A21B;

}



.cardParent {
  border: 2px solid #F8A21B;
  background-color: #F8A21B;
  height: 440px;
  width: 320px;
  border-radius: 10px;
  margin-top: 50px;
}

.cardImg {
  overflow: hidden;
  border-radius: 10px;
  margin: 10px auto 0;
  position: relative;
}

.cardImg img {
  width: 90%;
  margin: 0px auto;
  height: 280px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;

}



.cardImg {
  position: relative;
}

.cartConfig,
.icon {
  position: absolute;
  bottom: 10px;
  right: 15px;

  display: flex;
  align-items: center;

  height: 35px;
  background: white;
  border: 2px solid black;
  border-radius: 20px;

  overflow: hidden;
  z-index: 5;
}

.cartConfig i {
  font-size: 13px;
}

.icon i {
  margin-bottom: 10px;
}

.icon:hover {
  background-color: #F8A21B;
}

.addIcon,
.removeIcon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}


.removeIcon {
  text-align: center;

}

.itemCount {
  min-width: 25px;
  text-align: center;
  padding: 2px;
  font-weight: bold;
  cursor: pointer;
  background-color: beige;
  height: 100%;
  transition: 0.5s;
}

.addIcon:hover {
  background-color: #F8A21B;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 32px;
}

.removeIcon:hover {
  background-color: #F8A21B;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  height: 40px;
}



.cardImg img:hover {
  transform: scale(1.06);
}

.productContainer {
  flex-wrap: wrap;
}

.cardHead {
  font-size: 30px;
  font-weight: bolder;
  margin-top: 5px;
}

.cardFoot button {
  margin-top: 10px;
  border: 2px solid black;
  width: 100px;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
}

.cardFoot button:hover {
  cursor: pointer;
}

.cardHead,
.cardBody,
.cardFoot {
  margin-left: 15px;
}


.icon {
  border: 2px solid black;
  border-radius: 60%;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-right: 15px;
}

.icon i {
  color: rgb(0, 0, 0);
  margin-left: 8px;
  margin-top: 10px;
}

.icon:hover {
  cursor: pointer;
}

.cardFoot button {
  margin-top: 20px;
}

.footerSec {
  margin-top: 20px;
  height: 250px;
  background-color: #040404;
}

.footerSec img {
  margin-left: 20px;
}

.footerSec p:hover,
.footerSec h1:hover,
.footerSec i:hover {
  cursor: pointer;
  color: white;
}

.footerText {
  color: rgb(203, 196, 196);
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footerSec img {
  height: auto;
}

.leftBar,
.middleBar,
.rightBar {
  align-self: center;
}

.middleBar,
.rightBar {
  color: #e5e3e3;
}

.socialMedia i {
  color: white;
}

.companyDetails p,
.companyPolicies p {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.cartToast {
  width: 390px !important;
  min-height: 65px !important;
  background: #12c486 !important;
  color: white !important;
  border-radius: 15px !important;
  padding: 12px 25px !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25) !important;
}

.cartRemove {
  width: 390px !important;
  min-height: 65px !important;
  background:  #ff6b6b !important;
  color: white !important;
  border-radius: 15px !important;
  padding: 12px 25px !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25) !important;
}